__pycache__
.vscode
.idea
measurements
*.rou.xml
output
code/utils/utilize.py
code/utils/demand_config.py
code/plot_compare.py
code/scripts
*.trips.xml
*.flows.xml
*.turn.xml
infeasible.ilp
*.__init__.py